footer {
    background-color: var(--ultra-dark);
    /*background: linear-gradient(90deg, var(--ultra-dark) 0%, var(--black) 100%); */
    color: var(--clear);
    padding: 100px 20%;
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather Sans';
    background-image: url( '/assets/wave.svg' );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}
ul {
    text-align: right;
}
footer > * {
    position: relative;
    margin: auto 0;
    flex: 1 1 0px;
}
footer > svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.material-icons, .material-symbols-outlined {
    font-size: 2rem;
    text-align: center;
    color: var(--alternative-color);
}
a {
    text-decoration: underline;
}

/* TABLET */

@media only screen and (max-width: 1200px) {
    footer {
        padding: 75px 20%;
    }
}

/* PHONES */

@media only screen and (max-width: 800px) { 
    footer {
        padding: 75px 20px;
        font-size: 0.85rem;
        flex-direction: column;
        justify-content: left;
        gap: 20px;
    }
    footer > * {
        text-align: left;
    }
    .material-icons, .material-symbols-outlined {
        /*text-align: right;*/
    }
    ul {
        /* text-align: left; */
    }
}