div {
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    font-family: 'Merriweather Sans';
    transition: 0.3s;
}

/* TABLET */

@media only screen and (max-width: 1200px) {
    
}

/* PHONES */

@media only screen and (max-width: 800px) { 
    
    div {
        text-align: right;
    }
}