<header style="background-image: url('/assets/tourisme (1).jpeg');">
    <div>
        <div>
            <h1>Voyageurs</h1>
        </div>
    </div>
</header>

<article>
    <div class="intro">
        Locations disponibles chez <span class="lomara">LoMaRa</span>
    </div>
    <div class="biens">
        <div class="carte-bien" *ngFor="let bien of biens"  routerLink="/bien/{{bien.id}}">
            <img src={{bien.vignette}} alt="IMAGE BIEN" class="bien-image">
            <div class="bien-info">
                <div class="bien-nom">
                    {{bien.nom}}
                </div>
                <div class="bien-meta">
                    <span class="opaque">{{bien.ville}}</span>
                    <div>
                        <span class="material-icons">person</span>
                        <span class="opaque">{{bien.nb_personne}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<div class="div-bouton-contact">
    <div class="bouton-contact" routerLink="/contact"><span class="material-symbols-outlined">email</span> <span>Me contacter</span></div>
</div>