<nav>
    <div class="nav-head">
        <app-nav-head routerLink="/accueil" (click)="affiche = false"></app-nav-head>
        <span class="material-icons" *ngIf="innerWidth < 801" (click)="affiche = !affiche">menu</span>
    </div>
    <div class="nav-items" *ngIf="(affiche && innerWidth < 801 ) || innerWidth > 800">
        <app-nav-item class="nav-item" nomLien="Accueil" routerLink="/accueil" (click)="innerWidth < 801 ? affiche = !affiche : false"></app-nav-item>
        <app-nav-item class="nav-item" nomLien="Voyageurs" routerLink="/voyageurs" (click)="innerWidth < 801 ? affiche = !affiche : false"></app-nav-item>
        <app-nav-item class="nav-item" nomLien="Propriétaires" routerLink="/proprietaires" (click)="innerWidth < 801 ? affiche = !affiche : false"></app-nav-item>
        <app-nav-item class="nav-item" nomLien="Contact" routerLink="/contact" (click)="innerWidth < 801 ? affiche = !affiche : false"></app-nav-item>
    </div>
</nav> 