nav {
    padding: 0px 20%;
    background-color: var(--dark-medium);
    color: var(--body-background);
    display: flex;
}
nav > * {
    margin: auto;
}
nav * {
    transition: 0.3s !important;
}
.nav-items {
    display: flex;
}
.nav-item {
    padding: 0px 14px;
}
.nav-head {
    flex-grow: 1;
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
}
span {
    margin: auto 0;
    cursor: pointer;
    font-size: 1.5rem;
}
/* TABLET */

@media only screen and (max-width: 1200px) {
    nav {
        padding: 0px 10%;
    }
}

/* PHONES */

@media only screen and (max-width: 800px) {  
    nav > * {
        margin: 0;
    }   
    nav {
        padding: 0px;
        flex-direction: column;
        height: 60px;
    }
    .nav-head {
        padding: 14px 14px;
        margin: 0;
    }
    .nav-items { 
        flex-direction: column;
        width: 100%;
    }
    .nav-item {
        background-color: var(--dark);
        padding: 10px 0;
        padding-left: 30px;
        flex-grow: 1;
        display: flex;
    }
    .nav-item:hover {
        background-color: var(--ultra-dark);
    }
}