<header style="background-image: url('/assets/tourisme (3).jpeg');">
    <div>
        <div>
            <h1>Contact</h1>
        </div>
    </div>
</header>

<article>
    <div class="carte-visite-fond">
        <div class="carte-visite">
            <h1>LoMaRa</h1>
            <p id="email">
                <span class="material-symbols-outlined">send</span> : <a href="mailto:lomara.locations@gmail.com"
                    class="info-carte" style="text-decoration: underline;"> lomara.locations&#64;gmail.com</a>
            </p>
            <p id="telephone">
                <span class="material-symbols-outlined">phone</span> : <span class="info-carte">06 33 19 99 90</span>
            </p>
        </div>
    </div>
</article>