<div class="intro">
    Chers propriétaires, <span class="lomara">LoMaRa</span> vous propose plusieurs formules de gestion de votre bien
</div>
<div class="div-bouton-contact">
    <div class="bouton-contact" routerLink="/contact"><span class="material-symbols-outlined">email</span> <span>Me contacter</span></div>
</div>
<div class="sections">
    <section style="background-color: var(--medium);background: linear-gradient(90deg, var(--medium) 0%, var(--dark-medium) 100%);color: var(--body-background-2);">
        <h2><span>Pack Essentiel</span><span class="material-icons">grade</span></h2>
        <ul>
            <li>Photos du bien</li>
            <li>Gestion de l'annonce</li>
            <li>Gestion des réservations</li>
            <li>Optimisation tarifaire</li>
            <li>Etat des lieux de sortie</li>
            <li>Assistance téléphonique 8h/22h 7 jours sur 7</li>
            <li>Gestion des consommables</li>
            <li>Ménage à la sortie (remise en ordre et nettoyage)</li>
            <li>Compte rendu mensuel de votre location</li>
            <li>Gestion des demandes des voyageurs</li>
        </ul>
        <div class="lien"><span class="material-icons" routerLink="/contact">arrow_forward</span></div>
    </section>
    <section style="background-color: var(--dark-medium);background: linear-gradient(90deg, var(--dark-medium) 0%, var(--dark) 100%);color: var(--body-background-2);">
        <h2><span>Pack Premium</span><span class="material-icons">verified</span></h2>
        <ul>
            <li class="inclus">Pack Essentiel</li>
            <li class="plus">Gestion du linge</li>
        </ul>
        <div class="lien"><span class="material-icons" routerLink="/contact">arrow_forward</span></div>
    </section>
    <section style="background-color: var(--dark);background: linear-gradient(90deg, var(--dark) 0%, var(--black) 100%);color: var(--body-background-2);">
        <h2><span>Options sur mesure</span><span class="material-icons" style="color: var(--alternative-color);">workspace_premium</span></h2>
        <ul>
            <li>Ménage de début de saison</li>
            <li>Tonte du jardin</li>
            <li>Courses à l'arrivée des voyageurs</li>
            <li>Conseils en rénovation de votre logement</li>
            <li>Plus d'options personnalisées selon vos besoins</li>
        </ul>
        <div class="lien"><span class="material-icons" routerLink="/contact">arrow_forward</span></div>
    </section>
</div>