/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: unset;
	text-decoration: unset;
	transition: 0.3s;
	cursor: pointer;
}
input[type="submit"], button {
    cursor: pointer;
}
.material-icons, .material-icons-outlined {
	font-size: unset;
	font-size: unset;
	vertical-align: bottom;
}


/***************/
:root {
    --body-background: #dbe7f1;
    --ultra-dark: #0e1e33;
    --dark: #16425B;
    --dark-medium: #2F6690;
    --medium: #3A7CA5;
    --clear: #9db1cf;
    --alternative-color: #F3CA40;
}

html {
    scroll-behavior: smooth;
}
body {
    transition: 0.3s !important;
}
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-family: 'Nunito';
    background-color: var(--body-background);
    color: var(--bright);
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}