<header style="background-image: url('/assets/tourisme (4).jpeg');">
    <div>
        <div>
            <h1>LoMaRa</h1>
            <p>Locations et conciergerie</p>
        </div>
    </div>
</header>

<article>
    <h3>
        Bienvenue sur le site de <span class="lomara">LoMaRa</span> Locations, votre conciergerie et agence de locations
        saisonnières.
    </h3>
</article>
<div class="colonne-accueil-large">
    <img src="/assets/photo-profile.jpg" alt="">
    <div class="splitter"></div>
    <div class="texte">
        <p>
            Installée au bord de la mer, au sud Morbihan, je mets mon expérience et ma joie de vivre au service de vos séjours inoubliables.
        </p>
        <p>
            Mon métier ? Être le trait d’union entre les propriétaires et les vacanciers. 
        </p>
        <p>
            LoMaRa, c'est une gestion clé en main des biens locatifs pour offrir tranquillité et sérénité à chacun. Que vous soyez propriétaire en quête d’une gestion experte ou vacancier cherchant une expérience sans souci, je suis là pour tout organiser
        </p>
        <h3>
            Maryline Amelot
        </h3>
    </div>
</div>
<article>
    <div class="colonne-accueil aligner-gauche">
        <h4>Locations saisonnières</h4>
        <p>
            Prêt à planifier vos prochaines vacances en Bretagne ? Comptez sur nous pour vous accompagner !
        </p>
        <div class="div-bouton">
            <div class="bouton" routerLink="/voyageurs">En savoir plus</div>
        </div>
    </div>
    <div class="colonne-accueil aligner-droite">
        <h4>Gestions locatives</h4>
        <p>
            Détendez-vous ! On s'occupe de tout, de la réservation jusqu'au départ des vacanciers.
        </p>
        <div class="div-bouton">
            <div class="bouton" routerLink="/proprietaires">En savoir plus</div>
        </div>
    </div>
</article>
<div class="div-bouton-contact">
    <div class="bouton-contact" routerLink="/contact"><span class="material-symbols-outlined">email</span> <span>Me contacter</span></div>
</div>