<header style="background-image: url('/assets/plage.jpeg');">
    <div>
        <div>
            <h1>LoMaRa</h1>
            <p>Conciergerie et locations saisonnières</p>
        </div>
    </div>
</header>

<article>
    <h3>
        Bienvenue sur le site de <span class="lomara">LoMaRa</span> Locations, votre conciergerie et agence de locations
        saisonnières.
    </h3>
</article>
<div class="colonne-accueil-large">
    <img src="/assets/photo-profile.jpg" alt="">
    <div class="splitter"></div>
    <div class="texte">
        <p>
            En Bretagne Sud, venez séjourner en bord de mer dans la petite station balnéaire d'Etel, ancien port de pêche qui a su conserver son âme. Etel est blottie à l'entrée de la " Ria " et offre des paysages marins somptueux avec ses anses côtières et petits lagons.
        </p>
        <p>
            Cette maison de pêcheur est idéalement située sur le port de plaisance et à 200 mètres des commerces, des restaurants et des bars. A 600 m, une plage vous permettra de proﬁter des plaisirs de la mer ainsi qu'un bassin d'eau de mer pour les plus petits.
        </p>
        <h3>
            Maryline Amelot
        </h3>
    </div>
</div>
<article>
    <div class="colonne-accueil aligner-gauche">
        <h4>Locations saisonnières</h4>
        <p>
            Prêt à planifier vos prochaines vacances en Bretagne ? Comptez sur nous pour vous accompagner !
        </p>
        <div class="div-bouton">
            <div class="bouton" routerLink="/voyageurs">En savoir plus</div>
        </div>
    </div>
    <div class="colonne-accueil aligner-droite">
        <h4>Gestions locatives</h4>
        <p>
            Détendez-vous ! On s'occupe de tout, de la réservation jusqu'au départ des vacanciers.
        </p>
        <div class="div-bouton">
            <div class="bouton" routerLink="/proprietaires">En savoir plus</div>
        </div>
    </div>
</article>